.drp {
  width: 310px;
  display: block;
  overflow: hidden;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  -webkit-user-select: none;
}

.drp-header {
  line-height: 32px;
  text-align: center;
  margin-bottom: 10px;
  font-weight: bold;
}

.drp-month {
  opacity: 1;
  text-align: center;
  margin-bottom: 0px;
  font-weight: bold;
}

.drp-year {
  text-align: center;
  padding: 0px 40px;
  font-size: 1.5em;
}

.drp-calendar {
  text-align: center;
}

.drp-left, .drp-right {
  position: absolute;
  top: 1px;
  height: 30px;
  width: 30px;
  cursor: pointer;
  &:hover {
    background-color: #eee;
  }
}

.drp-left {
  left: 30px;
}

.drp-right {
  left: 250px;
}

.drp-left:after, .drp-right:after {
  position: absolute;
  content: ' ';
  width: 0px;
  height: 0px;
  border-style: solid;
  top: 50%;
  margin-top: -7.5px;
  top: 15px;
}

.drp-left:after {
  border-width: 7.5px 10px 7.5px 0;
  border-color: transparent #ccc transparent transparent;
  left: 9px;
}

.drp-right:after {
  border-width: 7.5px 0 7.5px 10px;
  border-color: transparent transparent transparent #ccc;
  right: 9px;
}

.drp-week.longer .drp-day {
  width: 175px;
  .drp-day-number, .drp-day-static {
    width: 100%;
  }
}

.drp-week-days {
  text-align: center;
  font-weight: bold;
}

.drp-day { 
  display: inline-block;
  width: 44px;
  height: 36px;
  text-align: center;
  vertical-align: top;
  position: relative;
}

.drp-day-number, .drp-day-static {
  position: absolute;
  -webkit-user-select: none;
  top: 5px;
  left: 0;
  line-height: 26px;
  width: 44px;
}

.drp-day-static {
  color: #999;
}

.drp-day-number {
  border-radius: 3px;
  cursor: pointer;
  &.hover, &:hover {
    background-color: #eee;
  }
  &.focus, &.active {
    &.start {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    &.segment {
      left: 0;
      width: 44px;
      border-radius: 0;
    }
    &.end {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
  &.focus.start.end, &.active.start.end {
    border-radius: 3px;
  }
  &.active.focus.start.end {
    border-radius: 0;
  }
}

.drp-day.drp-other {
  color: #e9e9e9;
  .drp-day-number {
    &.hover, &:hover, &.active, &.focus {
      color: #fff;
    }
    &.active, &.focus {
      opacity: 0.7;
    }
  }
}

.drp-today {
  color: #428bca;
  font-weight: normal;
}

.drp-time {
  text-align: center;
  margin-top: 10px;
}

.drp-time-text {
  font-weight: bold;
}

.drp-time-input {
  width: 100px;
  -webkit-appearance: none;
  margin: 18px 2px;
  &:focus {
    outline: none;
  }
  &::-webkit-slider-runnable-track {
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
  }
  &::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 26px;
    width: 12px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -9px;
  }
  &::-moz-range-track {
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #333, 0px 0px 1px #333;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
  }
  &::-moz-range-thumb {
    box-shadow: 1px 1px 1px #333, 0px 0px 1px #333;
    border: 1px solid #000000;
    height: 26px;
    width: 12px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
  }
  &::-ms-track {
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
  }
  &::-ms-fill-lower {
    background: #2a6495;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #333, 0px 0px 1px #333;
  }
  &::-ms-fill-upper {
    background: #3071a9;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #333, 0px 0px 1px #333;
  }
  &::-ms-thumb {
    box-shadow: 1px 1px 1px #333, 0px 0px 1px #333;
    border: 1px solid #000000;
    height: 26px;
    width: 12px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
  }
}

.drp-input {
  line-height: 24px;
  padding: 0 4px;
  border-radius: 3px;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px #ccc;
  width: 100px;
  font-size: 12px;
  margin-right: 5px;
  outline: 0;
}

.drp-selectbtn {
  line-height: 24px;
  padding: 0 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  outline: 0;
}

.drp-btn {
  display: inline-block;
  padding: 0 5px;
  background: #eee;
  line-height: 24px;
  border-radius: 3px;
  margin-right: 4px;
  cursor: pointer;
  &.focus {
    background-color: #337ab7;
    color: #fff;
  }
}

.drp-form {
  margin-top: 5px;
}

.drp-unit {
  display: inline-block;
  width: 100%;
}
